* {
    box-sizing: border-box; 
 }
 
 html {
  background-image: url(https://cdn.dribbble.com/users/1058830/screenshots/17755737/media/e625a599bec12ada2b884ea52b359720.png?compress=1&resize=1200x900&vertical=top);

  background-repeat: no-repeat;
  background-size: cover;
  }
 
 /*BACKGROUND COURTESY OF http://www.flickr.com/photos/zooboing/4594422812/ */
 .bg {
  background-color: black;
    position: fixed;
   opacity: 0.5;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
 }
 .container {
   
   position: relative;
   width: 540px;
   margin: 40px auto;
   text-align: center;
   height: 600px;
   position: absolute;
   top: 42%;
   left: 32%;
 }
 
 .planets div {
   
   display: inline-block;
   position: absolute;
   box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
 }
 
 .ring {  
   border: 1px dashed rgba(255, 255, 255, 0.5);   
   transform: rotate(0);    
   box-shadow: none;
 }
  
 .one {
   width: 300px;
   height: 300px;
   border-radius: 200px;
   left: -110px;
   top: -110px;
 }
 
 .two {
   width: 52px;
   height: 52px;
   border-radius: 50px;
   background-color: #4158D0;
   background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 17%, #FFCC70 39%, #d21818 60%, #3b23b5 80%, #8a3c3c 100%);

   
   top: 16px;
   left: -132px;
   transform-origin: 26px 26px;
   
   background: radial-gradient(center, ellipse cover, #fcf3a1   
   0%,#f1da36 100%);
    box-shadow: 0 0 100px #FF9A8B, 0 0 10px #FF9A8B, 0 0 20px #c96800, 0 0 150px #C850C0;
 }
 
 .two > .ring {
   width : 120px;
   height: 120px;
   border-radius: 120px;
   top: -35px;
   left: -35px;
 }
 
 .three {
   width: 30px;
   height: 30px;
   border-radius: 25px;
   background-image: linear-gradient(#d902ee, #ffd79d, #f162ff, #320d3e);
   top: 25px;
   right: -122px;
   transform-origin: 15px 15px;  
      background: radial-gradient(center, ellipse cover, #fcf3a1  ,0%,#f1da36 100%);
     box-shadow: 0 0 100px #4158D0, 0 0 40px #d21818, 0 0 20px #c96800, 0 0 150px #C850C0;
 }
 
 
 .three > .ring {
   width : 77px;
   height: 77px;
   border-radius: 80px;
   top: -22px;
   left: -22px;
 }
 
 .four {
   width: 16px;
   height: 16px;
   border-radius: 16px;
   background-image: linear-gradient(#e75874, #be1558, #fbcbc9 ,#322514);
   box-shadow: 0 0 100px #4158D0, 0 0 40px #d21818, 0 0 20px #c96800, 0 0 150px #C850C0;
   top: -18px;
   left: -18px;
   transform-origin: 8px 8px;
 }
 
 .five {
   width: 10px;
   height: 10px;
   border-radius: 10px;
    background-image: linear-gradient(#8a307f, #79a7d3, #6883bc);
    box-shadow: 0 0 100px #4158D0, 0 0 40px #d21818, 0 0 20px #c96800, 0 0 150px #C850C0;
   top: -30px;
   left: -30px;
   transform-origin: 5px 5px; 
 }
 
 .six {
   width: 20px;
   height: 20px;
   border-radius: 10px;
   background-image: linear-gradient(#cf1578, #e8d21d, #039fbe , #b20238 );
   box-shadow: 0 0 100px #4158D0, 0 0 40px #d21818, 0 0 20px #c96800, 0 0 150px #C850C0;
   top: -50px;
   left: -50px;
   transform-origin: 10px 10px; 
 }
 
 .seven {
   width: 30px;
   height: 30px;
   border-radius: 50px;
   background-image: linear-gradient(#d72631, #a2d5c6, #077b8a , #5c3c92);
   box-shadow: 0 0 100px #4158D0, 0 0 40px #d21818, 0 0 20px #c96800, 0 0 150px #C850C0;
   top: -30px;
   left: -30px;
   transform-origin: 15px 15px; 
 }
 
 .slow > .ring {
   width : 117px;
   height: 117px;
   border-radius: 80px;
   top: -42px;
   left: -42px;
 }
 
 .fast > .ring {
   width : 152px;
   height: 152px;
   border-radius: 80px;
   top: -62px;
   left: -62px;
 }
 
 .sun {
   width: 80px;
   height: 80px;
   border-radius: 80px;
   top: 170px;
   left: 240px;
   display: inline-block;
   position: absolute;
   box-shadow: 0 0 120px #4158D0, 0 0 60px #d21818, 0 0 10px #c96800, 0 0 1000px #C850C0;
   background: radial-gradient(center, ellipse cover, #fcf3a1   
    0%,#f1da36 100%);
     box-shadow: 0 0 120px #4158D0, 0 0 60px #d21818, 0 0 10px #c96800, 0 0 1000px #C850C0;
   background: -moz-radial-gradient(center, ellipse cover, #fcf3a1 0%, #f1da36 100%);
   background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fcf3a1), color-stop(100%,#f1da36)); 
   background: -webkit-radial-gradient(center, ellipse cover, #fcf3a1 0%,#f1da36 100%);
   background: -o-radial-gradient(center, ellipse cover, #fcf3a1 0%,#f1da36 100%); 
   background: -ms-radial-gradient(center, ellipse cover, #fcf3a1      0%,#f1da36 100%);
   background-color: #FF9A8B;
   background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
   
}
 
 .sun {
   animation: spin 100s infinite linear; 
 }  
 
 .two {
   animation: spin 50s infinite linear; 
 }
 
 .three {
   animation: spin 70s infinite linear; 
 }
 
 .four {
   animation: spin 50s infinite linear; 
 }
 
 .slow {
   animation: spin 10s infinite linear; 
 }
 
 .fast {
   animation: spin 20s infinite linear; 
 }
 
 
 @keyframes spin {  
 from {  
   transform: rotate(0deg);  
 }  
 to {  
   transform: rotate(360deg);  
    }  
 }

 .audio{
   
   opacity: .1;
 }